<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel= "stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header class="main-header">
      <div class="contenedorPadre">   <div class="main-header-top-bar">
         <img src="/images/logo-mercado-liebre.svg" class="Logo">
        <div class="BarraBusqueda"> <input type="text" placeholder="Buscar productos, marcas"> </input>
            <i class="fas fa-search"></i> </div>  </div>
        <h2 class="compraEnCuotas"> 
            <i class="fas fa-hand-holding-usd"></i>
           <p> Compra en cuotas y sin tarjeta de credito</p></h2>
        </div>
        
        <div class="burger-menu"> <i class="fas fa-bars"></i> </div>
        <img class="Banner" src="/images/img-home-banner.jpg" alt="img-home-banner">
        <nav class="nav">
           <div> <ul class="navbarIzq">
            <li><a href='#'> Ofertas</a> </li>
            <li><a href='#'> Tiendas Oficiales</a></li>
            <li><a href='#'> Vender</a></li>
            <li><a href="#"> Ayuda </a> </li>
            </ul></div>

            <div><ul class="navbarDere">
            <li><a href="/register"> Crea tu cuenta <i class="far fa-id-card"></i> </a> </li>
            <li><a href="/login"> Ingresa <i class="fas fa-sign-in-alt"></i> </a></li>
            <li><a href="#"> Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
        </ul></div>
    </nav>
    </header>
    <main>
   <h4 class="titular">  Basado en tu ultima visita </h4>
   <section class="sectionBasado">
   <article class="box1"> 
    <div> <img src="/images/img-cafetera-moulinex.jpg" alt = "cafetera"> </div>
    <div><i class="fas fa-truck"></i> </div>
   <div class="cajaPrecio"> <div class="precio">  $6.770 </div>
    <div class="descuentos">40% off</div> </div>
    <div class="nombreArticulo"> Cafetera Moulinex</div>
 </article>
<article class="box2"> <img src = "/images/img-macbook-pro-2019.jpg"> 
<div><i class="fas fa-truck"></i> </div>
<div class="cajaPrecio"><div class="precio"> $230.000</div>
<div class="descuentos"> 20% off</div> </div>
<div class="nombreArticulo"> MacBook Pro 2019 </div>
</article>

<article class="box3"> 
<img src="/images/img-samsung-galaxy-s10.jpg"> 
<div><i class="fas fa-truck"></i></div>
<div class="cajaPrecio"><div class="precio"> $70.500</div>
<div class="descuentos">  10% off</div> </div>
<div class="nombreArticulo"> Samsung Galaxy S10</div>
</article>

<article class="box4">
    <img src="/images/img-tv-samsung-smart.jpg"> 
    <div><i class="fas fa-truck"></i></div>
   <div class="cajaPrecio"> <div class="precio"> $23.200</div>
    <div class="descuentos"> 5% off</div> </div>
<div class="nombreArticulo">SmartTv Samsung 43"</div> 
</article>
</section>

    <h4 class="titular"> Seccion de ofertas </h4> 
    <section class="sectionOfertas">
    <article class="box1"> 
        <div> <img src="/images/img-cafetera-moulinex.jpg" alt = "cafetera"> </div>
        <div><i class="fas fa-truck"></i> </div>
      <div class="cajaPrecio">  <div class="precio">  $6.770 </div>
        <div class="descuentos">40% off</div> </div>
        <div class="nombreArticulo"> Cafetera Moulinex</div>
 </article>
    <article class="box2"> <img src="/images/img-macbook-pro-2019.jpg"> 
    <div><i class="fas fa-truck"></i> </div>
    <div class="cajaPrecio"> <div class="precio"> $230.000</div>
    <div class="descuentos"> 20% off</div> </div>
    <div class="nombreArticulo">MacBook Pro 2019 </div>
    </article>
    <article class="box3"> 
    <img src="/images/img-samsung-galaxy-s10.jpg"> 
    <div><i class="fas fa-truck"></i></div>
   <div class="cajaPrecio"> <div class="precio"> $70.500</div>
    <div class="descuentos">  10% off</div> </div>
    <div class="nombreArticulo"> Samsung Galaxy S10</div>
    </article>

    <article class="box4">
        <img src="/images/img-tv-samsung-smart.jpg"> 
        <div><i class="fas fa-truck"></i></div>
      <div class="cajaPrecio">  <div class="precio"> $23.200</div>
        <div class="descuentos"> 5% off</div> </div>
    <div class="nombreArticulo">SmartTv Samsung 43"</div> 
    </article>
    </section>
</main>
 <footer>
    <div class="iconoCentrado" ><i class="fas fa-credit-card"></i></div>
    <p> <strong> Pagá con tarjeta o en efectivo</strong> </p>
    <p>Con Mercado Liebre Cash, tenés cuotas sin  <br>
        interés con tarjeta o efectivo en
        puntos de <br>
         pago. ¡Y siempre es seguro!</p>
<div class="iconoCentrado"> <i class="fas fa-gift"></i> </div>
        <p> <strong> Envío gratis desde $ 2.500</strong> </p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <br>
        <div class="iconoCentrado"><i class="fas fa-user-shield"></i></div>
            <div> <strong> Seguridad, de principio a fin</strong> </p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
                <br> </div>
              <div class="Copyright"> Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
</footer>        
</body>
</html>