 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
header {
    background-color:#EAC926; 
    padding: 20px;
}
.main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: #000;
    }

.Logo{
    flex-grow: 0.5;
    width: auto;
}
.BarraBusqueda{
    flex-grow: 0.5;

}
.compraEnCuotas{
font-weight: bolder;
font-size: 1rem;
display: inline-block;
}

.nav {
text-decoration: none;
display: none;
padding-top: 5px;
font-size: 1rem;
list-style: none;
}
.nav ul li{
    list-style: none;
    display: inline-block;
    color: black;
    padding:0;
    font-size: 1rem;
}

.burger-menu {
    text-align: center;
    width: auto;
 margin-top: 5px;
 margin-bottom: 5px}

.burger-menu i{
    color: white;
    background-color:#1259c3;
    border-radius: 5%;
    padding: 10px;
}

body{
    background-color:#cac6c6;
    font-size: 12px;
    font-weight: bold;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.Banner{
    width: 100%;
    height: auto;
}

.fa-search{
    size: 2em;
    background-color:#ebeef3;
    border-radius:5%;
    padding: 0.5%;
}
.sectionBasado{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sectionOfertas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box1{
    flex-grow: 1;
}
.box2{
    flex-grow: 1;
}
.box3 .box4 {
    align-self: flex-end;
}
.titular{
    font-size: 24px;
    font-weight: bolder;
    text-align: start;
}

.precio {
    font-size: 18px;   
}

.descuentos{
    font-size: 16px;
    color: #39b54a;
}
.nombreArticulo{
    font-weight: bolder;
    display: none;
    border: 1px solid red;
}
.nombreArticulo :hover{
display: block;
}

footer{
    text-align:center;
     background-color: white;
}
.Copyright{
    text-align: left;
    font-weight: bolder;
    font-size: smaller;
}
main{
    margin: 0;
    padding: 10px;
    width: 90%;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

img{
    width: 15vw;
    height: auto;
}

.fa-credit-card{ 
    color:#1259c3;
    size: 2em;
    margin-bottom: 10px;
}

.fa-gift{
    color:#1259c3;
    size: 2em;
    margin-bottom: 10px;
}

.fa-user-shield{
    color:#1259c3;
    size: 2em;
    margin-bottom: 10px;
}

.fa-truck{
    color: #39b54a;
    border: 2px solid #39b54a;
    border-radius: 50%;
    padding: 5px;
    margin-top: 2px;
    right: 50px;
    top: -15px;
    font-size: 16px;
    background-color: #fff;
}

article{
margin: 3px;
border-top: solid #ebebeb 1px;
padding: 15px;
background-color: white;
text-align: left;
max-width: 17vw;
}

.cajaPrecio{
     display: flex; 
 }

.cajaPrecio .precio{
flex-grow: 0.3;
}

.cajaPrecio .descuentos {
    flex-grow: 0.7;
}

@media(min-width: 768px){
.main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

.compraEnCuotas{
    max-width: 500px;
    flex-grow: 1;
    display: flex;
    align-self: center;
   
}
.compraEnCuotas p {
    width: 20vw;
}

.BarraBusqueda{
        display: block;
        font-size: 12px;
        max-width: 500px;
        text-align: center;
        flex-grow: 2;
        align-self: center;
        width: 50vw;
    }
.BarraBusqueda input{
        width: 20vw;
    }
.Logo{
        flex-grow: 1;
        width: 8vw;
    }
article{
    box-shadow: 0px 0px 10px rgb(100,100,100);
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 180px;
    text-align: left;
    width: auto;
}
main{
    padding: 10px;
}
.nombreArticulo{
    font-size: 12px;
    color: #666;
display: inline-block;
}
.nav{
    display:flex;
    color: #000;
    list-style: none;
    justify-content: space-around;
    font-size: 5px;
}
.navbarDere{
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    font-size: 5rem;
}
.navbarDere li {
    width: 15vw;
    justify-content: space-around;
    text-align: end;
}
.navbarIzq{
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    font-size: 5rem;
}
.navbarIzq li {
    width: 10vw;
    justify-content: space-around;
    text-align: start;
}

.burger-menu{
    display: none;
}
.burger-menu i{
    display: none;
}
.fa-truck :hover{
    transform: rotatex(-90deg);
    transition-duration: 5seg;

}
@media(min-width: 361px){
    .main-header-top-bar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        }
    .compraEnCuotas{
        max-width: 500px;
        flex-grow: 1;
        display: flex;
        align-self: center;
       
    }
.compraEnCuotas p {
        width: 20vw;
    }
.BarraBusqueda{
            display: block;
            font-size: 12px;
            max-width: 500px;
            text-align: center;
            flex-grow: 2;
            align-self: center;
            width: 50vw;
        }
.BarraBusqueda input{
            width: 20vw;
        }
.Logo{
            flex-grow: 1;
            width: 8vw;
        }
article{
        box-shadow: 0px 0px 10px rgb(100,100,100);
        border-radius: 5px;
        margin-left: 20px;
        margin-right: 20px;
        min-width: 180px;
        text-align: left;
    }
    article box1 :hover{
        box-shadow: #666;
    }
    
    .nombreArticulo{
        font-size: 12px;
        color: #666;
        display: inline-block;
    }
    .fa-truck :hover{
     transform: rotateZ(-90deg);
     transition-duration: 5seg;   
    }
    .nav{
        display:flex;
        color: #000;
        list-style: none;
        justify-content: space-around;
        font-size: 5px;
    }
    .navbarDere{
        align-self: flex-end;
        display: flex;
        flex-wrap: wrap;
        font-size: 5rem;
    }
    .navbarDere li {
        width: 15vw;
        justify-content: space-around;
        text-align: end;
    }
    .navbarIzq{
        align-self: flex-end;
        display: flex;
        flex-wrap: wrap;
        font-size: 5rem;
    }
    .navbarIzq li {
        width: 10vw;
        justify-content: space-around;
        text-align: start;
    }
    
    .burger-menu{
        display: none;
    }
    .burger-menu i{
        display: none;
    }

    .sectionBasado{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .sectionOfertas{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}}